language: scala
scala:
  - 2.10.7
  - 2.11.12
  - 2.12.8
  #- 2.13.0-M5

jdk:
  - openjdk6
  - oraclejdk8

dist: precise
sudo: true

addons:
  hosts:
    - me
  hostname: me

env:
  #see https://github.com/scalatest/scalatest/pull/245
  #global values should be replaced using http://docs.travis-ci.com/user/encryption-keys/ with valid values
  global:
    - SCALATEST_NEXUS_LOGIN=tbd
    - SCALATEST_NEXUS_PASSWORD=tbd
    - SCALATEST_GPG_FILE=tbd
    - SCALATEST_GPG_PASSPHASE=tbd

  matrix:
    - MODE=RegularTests1
    - MODE=RegularTests2
    - MODE=RegularTests3
    - MODE=RegularTests4
    - MODE=RegularTests5
    - MODE=ScalacticTests
    - MODE=genMustMatchersTests1
    - MODE=genMustMatchersTests2
    - MODE=genMustMatchersTests3
    - MODE=genMustMatchersTests4
    - MODE=genGenTests
    - MODE=genTablesTests
    - MODE=genInspectorsTests
    - MODE=genInspectorsShorthandsTests1
    - MODE=genInspectorsShorthandsTests2
    - MODE=genTheyTests
    - MODE=genContainTests1
    - MODE=genContainTests2
    - MODE=genSortedTests
    - MODE=genLoneElementTests
    - MODE=genEmptyTests
    - MODE=genColCompatTests
    - MODE=examples
    - MODE=examplesJS

matrix:
  exclude:
    #- scala: "2.13.0-M5"
    #  jdk: openjdk6
    - scala: "2.12.8"
      jdk: openjdk6
    - scala: "2.11.12"
      jdk: oraclejdk8
    - scala: "2.10.7"
      jdk: oraclejdk8

branches:
  only:
    - 3.0.x

script:
  # work around https://github.com/travis-ci/travis-ci/issues/9713
  - if [[ $JAVA_HOME = *java-6* ]]; then jdk_switcher use openjdk6; fi
  - java -version
  - ./travis_build.sh $MODE

notifications:
  email:
    - bill@artima.com
    - cheeseng@amaseng.com

cache:
  directories:
    - $HOME/.ivy2/cache

#after_success:
#  # only 'scalatest/scalatest' 'master' branch is published from the first node
#  - |
#      echo "Succeded on: ${TRAVIS_REPO_SLUG}/${TRAVIS_BRANCH}"
#      if [ "${TRAVIS_REPO_SLUG}/${TRAVIS_BRANCH}" = "scalatest/scalatest/master" ]; then
#        # temporary for convinience taken outside, todo: grab in repo, also some of steps may be hidden in inside of travis_build
#        curl -o travis_after_all.py https://raw.github.com/dmakhno/travis_after_all/master/travis_after_all.py
#        python travis_after_all.py
#        export $(cat .to_export_back)
#        if [ "$BUILD_LEADER" = "YES" ]; then
#          if [ "$BUILD_AGGREGATE_STATUS" = "others_succeeded" ]; then
#            ./travis_build.sh Publish
#          fi
#        fi
#      fi
